body{
  background-image: url("https://cdn.discordapp.com/attachments/747741173841395804/905834985657888778/CarelessPeskyKusimanse-poster.png");
  background-size: cover;
  margin: 0px;
}

header{
  background-color: rgb(63, 109, 74);
  height: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana;
}

li{
  float: left;
}

li a:link{
  display: block;
  color: rgb(41, 25, 5);
  padding: 10px;
  text-decoration: none;
}

li a:visited{
  color: black;
}

li a:hover {
  background-color: rgb(51, 33, 27);
  color: white;
}

li a.active {
  background-color: rgb(51, 33, 27);
  color: white;
}

section{
  padding: 15px;
}

#title{
  margin-top: 0px;
  padding-top: 20px;
  color: rgb(41, 25, 5);
}

#logo{
  width: 50px;
  height: 50px;
  float: left;
}

#pageheader{
  background-color: rgb(55, 104, 66, 0.7);
  color: rgb(37, 22, 12);
  padding: 5px;
  border-radius: 10px;
}

#content{
  clear: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: rgb(55, 104, 66, 0.7);
  border-radius: 10px;
}

#image1{
  width: 500px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

#image2{
  width: 500px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

#devteam{
    width: 170px;
   height: 170px;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 20px;
}

footer{
  background-color: rgb(63, 109, 74);
}

.text{
    font-family: Verdana;
    color: rgb(223, 200, 187);
  }